%html
 %head
  %title Aspects Main Page
  = include_stylesheets :common
  = include_stylesheets :aspects
  = include_stylesheets :main
  = include_stylesheets :financials

  = javascript_include_tag :defaults

  = include_javascripts :common
  = include_javascripts :aspects
  = include_javascripts :main
  = include_javascripts :financials
 %body
  %form{:id=> "history-form", :class=>"x-hide-display"}
   %input{:type=>"hidden", :id=>"x-history-field"}
   %iframe{:id=>"x-history-frame"}
  %div{:id => "main-container"}

